<!DOCTYPE html>
<html>

<head>
    <title>EMDb</title>
    <script src="{{url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>
    <script src="{{url_for('static', filename='search.js')}}"></script>
</head>

<body>
    <div id="searchContainer">
        <form id="searchForm">
            EMDb Search Engine<br>
            <input id="searchbox" name="q" type="text" />
            <button id="searchbutton" type="submit" value="search" />GO!</button>
        </form>
    </div>

    <div id="result"></div>
</body>

</html>